// Spacing
$space: 1rem !default;
$spacer: (
  0: 0,
  1: $space * 0.5,
  2: $space,
  3: $space * 1.5,
  4: $space * 2
);

// Margin
@each $key, $value in $spacer {
  .m-#{$key} {
    margin: $value !important;
  }
  .mt-#{$key} {
    margin-top: $value !important;
  }
  .mr-#{$key} {
    margin-right: $value !important;
  }
  .mb-#{$key} {
    margin-bottom: $value !important;
  }
  .ml-#{$key} {
    margin-left: $value !important;
  }
}

// Padding
@each $key, $value in $spacer {
  .p-#{$key} {
    padding: $value !important;
  }
  .pt-#{$key} {
    padding-top: $value !important;
  }
  .pr-#{$key} {
    padding-right: $value !important;
  }
  .pb-#{$key} {
    padding-bottom: $value !important;
  }
  .pl-#{$key} {
    padding-left: $value !important;
  }
}