* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

html, body,
h1, h2, h3, h4, h5, h6, p,
ul, ol, li {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

button {
  display: block;
  padding: 6px 8px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}